<% if @user %>
<h1><%="#{@user.name}'s Races" %></h1>
<ul>
  <% @user_races.each do |r| %>
    <li> <%=link_to find_race(r.race_id).name, race_path(find_race(r.race_id)) %><br>
    Distance: <%= find_race(r.race_id).distance %><br> 
    Finish Time: <%=display_finish_time(r.start_time, r.finish_time)%> </li>
  <% end %> 
  </ul>
<%else%>
<h1>All Races</h1>
  <%= render partial: "search" %>
  <ul>
  <% @races.each do |r| %>
      <li><%= link_to r.name, race_path(r) %> - <%= r.location%> - <%= r.distance%></li>
  <% end %>
</ul>
<% end %>
<br>

