<% if @user %>
<h1><%="#{@user.name}'s Races" %></h1>
<ul>
  <% @user_races.each do |r| %>
    <%= render partial: "user_races/user_race", locals: {r: r} %>
  <% end %> 
</ul>
<%= browse_all_races %><br>
<%else%>
<h1>All Races</h1>

<% if @top_race %>
  <b>Top Race: </b><%= @top_race.name %><br>
  <b>Number of Runners: </b><%= @top_race.user_races.count%><br><br><br>
<% end %>

<%= render partial: "search" %><br>
  <ul>
  <% @races.each do |r| %>
      <li><%= link_to r.name, race_path(r) %><br>
      <%= render partial: "race", locals: {race: r}%></li>
 <% end %>
</ul>
<% end %>
<br>

<%= browse_all_runners %><br><br>
<%= create_race %>
