Races#new
<h1>Add a Race:</h1>
<%= form_with model: @race, url: races_path  do |f| %>

<% if @race.errors.any? %>
    <h3>Please note errors below:</h3>
    <ul>
    <% @race.errors.full_messages.each do |m| %>
        <li><%= m %>
    <% end %>
    </ul>
<% end %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :distance %>
    <%= f.text_field :distance %><br>

    <%= f.label :location %>
    <%= f.text_field :location %><br>

    <%= f.label :date %>
    <%= f.date_field :date %><br>

    <%= f.label :age_group %>
    <%= f.text_field :age_group %><br>

    <%= f.hidden_field :creator_id, value: current_user.id %>


    <%= f.fields_for :user_races do |user_races_fields| %>
        <%= user_races_fields.hidden_field :user_id, value: current_user.id %>
   
        <%= user_races_fields.label :start_time %>
        <%= user_races_fields.time_select :start_time, include_seconds: true %><br>

        <%= user_races_fields.label :finish_time %>
        <%= user_races_fields.time_select :finish_time, include_seconds: true %><br>
        <%= user_races_fields.label :review %>
        <%= user_races_fields.text_area :review %><br>
    <% end %>

    <%= f.submit 'Create Race' %>
<% end %>