<h1>Races#show</h1>
<h2><%= @race.name %></h2>

Distance: <%=@race.distance%><br>
Location: <%=@race.location%><br>
Date: <%=@race.date.strftime("%B %d, %Y")%><br>
Age Group: <%=@race.age_group%><br>

Add to "My Races":
<%= form_for  %>