<h1>Races#show</h1>
<h2><%= @race.name %></h2>

Distance: <%=@race.distance%><br>
Location: <%=@race.location%><br>
Date: <%=@race.date.strftime("%B %d, %Y")%><br>
Age Group: <%=@race.age_group%><br>

<%= button_to "Add to My Races", new_race_user_race_path(@race), method: :get %>
<br>
<br>
Reviews:<br>
<ul>
<% if @race.user_races != [] %>
<% @race.user_races.each do |r| %>
  <li>  Ran by: <%= link_to r.user.name, user_path(r.user) %><br>
    Finish Time: <%= display_finish_time(r.start_time, r.finish_time) %><br>
    Review: <%= r.review %><br></li>
<% end %>
<% end %>
</ul>
<%= link_to "All Races", races_path %><br><br>
<%= delete_race %>
