<h1>All Users</h1>
User with most races:
<%= @top_user.name %><br>
Number of races run: <%= @top_user.races.count%>

<ul>
<% @users.each do |u| %>
 <li><%= link_to u.name, user_path(u) %><br>
    <%= render partial: "user", locals: {user: u}%>
<%end%>
</ul>
<%= link_to "All Races", races_path %>