<h1>All Runners</h1>
<b>Most races: </b><%= @top_user.name %><br>
<b>Number of races run: </b><%= @top_user.races.count%><br><br><br>
<%= render partial: "search" %><br>


<ul>
<% @users.each do |u| %>
 <li><%= link_to u.name, user_path(u) %><br>
    <%= render partial: "user", locals: {user: u}%>
<%end%>
</ul>
<%= browse_all_races %>