<h1>All Runners</h1>

<%# <%= link_to "Top Runners", top_runners_path %>

<%= render partial: "search" %><br>

<ul>
<% @users.each do |u| %>
 <li><%= link_to u.name, user_path(u) %><br>
    <%= render partial: "user", locals: {user: u}%>
<%end%>
</ul>

<%= browse_all_races %>