<h1>All Runners</h1>
<%= render partial: "search" %><br>

Most races:
<%= @top_user.name %><br>
Number of races run: <%= @top_user.races.count%>

<ul>
<% @users.each do |u| %>
 <li><%= link_to u.name, user_path(u) %><br>
    <%= render partial: "user", locals: {user: u}%>
<%end%>
</ul>
<%= browse_all_races %>