<h1>Users#show</h1>

Name: <%= @user.name %><br>
Username: <%= @user.username %><br>
Age: <%= @user.age %><br><br>

Races Run:
<ul>
<%= link_to "#{@user.name}'s Races", user_races_path(@user) %>
</ul>

Add an Existing Race:
<%= form_for @user.races.build, url: user_path(current_user) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
        Select a Race:
        <%= f.collection_select :id, Race.all, :id, :name, prompt: true%>

        <%= f.submit 'Add Race' %>
<% end %>

Or
<%= link_to "Create Race", new_race_path %>
