<h1>Users#show</h1>

Name: <%= @user.name %><br>
Username: <%= @user.username %><br>
Age: <%= @user.age %><br><br>

<% if @race %>
    Last Race:
    <%= link_to @race.name, race_path(@race) %><br>
<% end %>

All Races:

<%= link_to "#{@user.name}'s Races", user_races_path(@user) %><br>

 <%= form_with url: races_path, method: :get do |f| %>
  <%= f.label :query, "Add an Existing Race:" %>
  <%= f.text_field :query %>
  <%= f.submit "Search" %>
<% end %>


