<h1>Users#show</h1>
Name: <%= @user.name %><br>
<%= render partial: "user", locals: {user: @user}%>

<%= display_last_race %>



<%= link_to "#{@user.name}'s Races", user_races_path(@user) %><br><br>
<%= link_to "All Runners", users_path %>

<%= render partial: "races/search" %><br>
<%= link_to "All Races", races_path %><br><br>
<%= create_race %>


