<h1>Users#show</h1>

Name: <%= @user.name %><br>
Username: <%= @user.username %><br>
Age: <%= @user.age %><br><br>

Races Run:
<ul>
<%= link_to "#{@user.name}'s Races", user_races_path(@user) %>
</ul>

Add an Existing Race:
 %>




<%= link_to "Create Race", new_race_path %>

<%= button_to 'Logout', logout_path %>