<h1><%= @user.name %>'s Page</h1>
 <br>
<%= render partial: "user", locals: {user: @user}%>

<%= display_last_race %>



<%= link_to "#{@user.name}'s Races", user_races_path(@user) %><br><br>

<%= render partial: "races/search" %><br>
<%= browse_all_races %><br><br>
<%= browse_all_runners %><br><br>


<%= delete_user %>


